@use "./fonts" as*;
@use "./colors" as *;
@use "./mixins" as *;

main{
    width: 100%;
    height: 100dvh;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: -5.9em;
    .form{
        @include all;
       form{
        padding: .95em 1.3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: .9em;
        input[type="text"]{
            width: 100%;
            // padding: 1em;
            border: none;
            border-radius: 5px;
            background: $VeryDarkDesaturatedBlue;
            color: $LightGrayishBlue;
            font-family: 'regular';
            font-size: 1.2em;
           
            &::placeholder{
                color: $DarkGrayishBlue;
                font-weight: 400;
                font-size: .6em;
            }
        }
       .radio
       {
        @include radio;

       }
       }
    }
     .lists{
        @include all;
       .list{
        padding: 1em 1.3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &:not(:last-child) {
                border-bottom: 1px solid rgba($DarkGrayishBlue,.3);
            }
        .list-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .65em;
            height: auto;
            .radio {
                    @include radio;
            
                }
            
            p {
                font-family: 'regular';
                font-size: .72em;
                color: $LightGrayishBlue;
        
                &:hover {
                    color: $VeryDarkDesaturatedBlue;
                }
                &.check{
                    text-decoration: line-through;
                    color: $DarkGrayishBlue;
                }
            }
        }
       
      
       }
        .img {
            $size: 14px;
            width: $size;
            height: $size;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: contain
            }
        }
             
     } 
     .filters{
        @include all;
        display: flex;
        padding: 1.09em .9em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1em;
        p{
            cursor: pointer;
            font-family: 'bold';
            font-size: .9em;
            text-transform: capitalize;
            color: $DarkGrayishBlue;
            &:hover{
                color: $LightGrayishBluehover;
            }
            &.active{
                color: $VeryDarkDesaturatedBlue;
            }
        }


     }
     .info{
        @include all;
        padding: 1.2em 1.3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:1em;
        p{
            font-family: 'regular';
            font-size: .7em;
            color: $DarkGrayishBlue;
        }
        .clear{
            cursor: pointer;
            font-family: 'bold';
            font-size: .7em;
            text-transform: capitalize;
            color: $DarkGrayishBlue;
            &:hover{
                color: $VeryDarkDesaturatedBlue;
            }
        }
     }
 
}
.drag {
    text-align: center;
    font-family: 'bold';
    padding-top: 3.2em;
    font-size: .83em;
    // word-spacing: 2px;
    color: $DarkGrayishBlue;


}