@use "./fonts" as*;
@use "./colors" as *;


main{
    width: 100%;
    height: 100dvh;
}
@mixin all{
  background: $VeryDarkDesaturatedBlue;
  border-radius: 5px;



}
.content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    .form{
        @include all;
       form{
        padding: 1em 1.5em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        input[type="text"]{
            width: 100%;
            // padding: 1em;
            border: none;
            border-radius: 5px;
            background: $VeryDarkDesaturatedBlue;
            color: $LightGrayishBlue;
            font-family: 'regular';
            font-size: .8em;
           
            &::placeholder{
                color: $LightGrayishBluehover;
                font-weight: 400;
            }
        }
        input[type="radio"]{
            $radio: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 50%;
            width: $radio ;
            height: $radio;
            border: 1px solid rgba($DarkGrayishBlue , .4);
            transition: 0.2s all linear;
            // margin-right: 5px;
            cursor: pointer;
            position: relative;
        }
       }
    }
     .lists{
        @include all;
       .list{
        padding: 1em 1.5em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &:not(:last-child) {
                border-bottom: 1px solid $DarkGrayishBlue;
            }
        .list-header{
            display: flex;
            flex-direction: row;
            gap: .5em;
            height: auto;
        }
        input[type="radio"]{
            $radio:20px;
            -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 50%;
                width:$radio ;
                height: $radio;
                border: 1px solid rgba($DarkGrayishBlue ,.4);
                transition: 0.2s all linear;
                margin-right: 5px;
                cursor: pointer;
                position: relative;
                &:hover{
                background: linear-gradient($VeryDarkDesaturatedBlue,$VeryDarkDesaturatedBlue) padding-box,
                    $CheckBackground border-box;
                border-radius: 50em;
                border: 1px solid transparent;
                border-image: $CheckBackground 1;
                border-radius: 50%;
                }
                &:checked {
                    &::before{
                        content: "\f00c";
                        font-family: "Font Awesome 5 Free";
                        display: grid;
                        place-content: center;
                        height: 100%;
                        color: #fff;
                        font-size: .8em;
                        font-weight: 900;
                    }
                    background: linear-gradient(transparent, transparent) padding-box,
                            $CheckBackground border-box;
                    border-radius: 50em;
                    border: 1px solid transparent;
                    border-image: $CheckBackground 1;
                    border-radius: 50%;
                    outline: unset !important
                            /* I added this one for Edge (chromium) support */
                    }
        }
        p{
            font-family: 'regular';
            font-size: .8em;
            // text-transform: capitalize;
            color: $LightGrayishBlue;
            &:hover{
                color: $VeryDarkDesaturatedBlue;
            }
        }
      
       }
        .img {
            $size: 10px;
            width: $size;
            height: $size;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: contain
            }
        }
             
     } 
     .filters{
        @include all;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1em;
        p{
            cursor: pointer;
            font-family: 'bold';
            font-size: .8em;
            // letter-spacing: .42em;
            text-transform: uppercase;
            color: $DarkGrayishBlue;
            &:hover{
                color: $VeryDarkDesaturatedBlue;
            }
            &.active{
                color: $VeryDarkDesaturatedBlue;
            }
        }


     }
     .info{
        @include all;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:1em;
        p{
            font-family: 'bold';
            font-size: .8em;
            // letter-spacing: .42em;
            text-transform: uppercase;
            color: $DarkGrayishBlue;
        }
        .clear{
            cursor: pointer;
            font-family: 'bold';
            font-size: .8em;
            // letter-spacing: .42em;
            text-transform: uppercase;
            color: $DarkGrayishBlue;
            &:hover{
                color: $VeryDarkDesaturatedBlue;
            }
        }
     }

}