@use "./fonts" as*;
@use "./colors" as *;
@use "./mixins" as *;

main{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: -5.9em;
    position: relative;
    isolation: isolate;
    
    @include responsive(1440px){
        margin-top: -8.9em;
        gap: 1.2em;
    }
    .form{
        @include all;

       form{
        padding: .95em 1.3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: .9em;
        @include responsive(1440px){
            padding: 1.3em 1.3em;
            gap: 1.6em;
        }
        input[type="text"]{
            width: 100%;
            // padding: 1em;
            border: none;
            border-radius: 5px;
            background: $VeryDarkDesaturatedBlue;
            color: $LightGrayishBlue;
            font-family: 'regular';
            font-size: 1.2em;
           @include responsive(1440px){
            font-size: 1.35em;
           }
            &::placeholder{
                color: $DarkGrayishBlue;
                font-weight: 400;
                font-size: .6em;
                @include responsive(1440px){
                    font-size: .8em;
                }
            }
        }
       .radio
       {
        @include radio;
       

       }
       }
    }     .lists{
        @include all;
        isolation: isolate;
        $color: #000000;
        box-shadow:
                0px 10+9px 11.6px 20px rgba($color, 0.1),
                    -5px 15+9px 16.5px 25px rgba($color, 0.095),
                    -10px 20+9px 23.4px 30px rgba($color, 0.08),
                -20px 25+9px 33.9px 35px rgba($color, 0.05);
       .list{
        padding: 1em 1.3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
       &:hover{
         .img {
                display: block;
            }
       }

        @include responsive(1440px){
            padding: 1.235em 1.3em;
        }
        
        &:not(:last-child) {
                border-bottom: 1px solid rgba($DarkGrayishBlue,.2);
            }
        .list-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .65em;
            height: auto;
            @include responsive(1440px){
                gap: 1.5em;
            }
            .radioh{
                    @include radio;
                }
            
            p {
                font-family: 'regular';
                font-size: .72em;
                color: $LightGrayishBlue;
                cursor: pointer;
                @include responsive(1440px){
                    font-size: 1.1em;
                }
        
                &:hover {
                    color: $LightGrayishBluehover;
                    
                }
                &.check{
                    text-decoration: line-through;
                    color: $DarkGrayishBlue;
                }
            }
        }
       
      
       }
        .img {
            $size: 14px;
            width: $size;
            height: $size;
            cursor: pointer;
            @include responsive(1440px){
                display: none;
            }

            img {
                width: 100%;
                object-fit: contain
            }
        }
             
     } 
     .filters{
        @include all;
        display: flex;
        padding: 1.09em .9em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1em;
        isolation: isolate;
        // z-index: -1;
       
        @include responsive(1440px){
            padding: 1em 1.3em;
            position: relative;
            top: -67px;
            width: fit-content;
            margin-inline: auto;
        }
        p{
            cursor: pointer;
            font-family: 'bold';
            font-size: .9em;
            text-transform: capitalize;
            color: $DarkGrayishBlue;
            &:hover{
                color: $LightGrayishBluehover;
            }
            &.active{
                color: $BrightBlue;
            }
        }


     }
     .info{
        @include all;
        padding: 1.2em 1.3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:1em;
       
       
        @include responsive(1440px){
            padding: 1.1em 1.3em;    
            isolation: isolate;
        }

        p{
            font-family: 'regular';
            font-size: .7em;
            color: $DarkGrayishBlue;
            @include responsive(1440px){
            font-size: .9em;
            }
        }
        .clear{
            cursor: pointer;
            font-family: 'bold';
            font-size: .7em;
            text-transform: capitalize;
            color: $DarkGrayishBlue;
            // isolation: isolate;
            @include responsive(1440px){
                font-size: .8em;
            }
            &:hover{
                color: $LightGrayishBluehover;
            }
        }
     }
 
}
.drag {
    text-align: center;
    font-family: 'bold';
    padding-top: 3.2em;
    font-size: .83em;
    position: relative;
    color: $DarkGrayishBlue;
    @include responsive(1440px){
      position: relative;
      font-size: .8em;
      top:20px;
      padding: 0;
      margin-top: -2.8em;
      padding-bottom: 3em;
    }


}